<footer class="bg-dark">
    <div>
        <span> @artstudioss2023</span>
    </div>
</footer>
<style>
    footer{
/*
background-color: rgb(7, 38, 58);
*/
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 
  color: white;
  text-align: center;
    }
</style>