<!-- <nav class="navbar bg-primary navbar sticky-top navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ArtStudioss</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/paintings/home">Home</a>
            <a class="nav-link" href="/dashboard"> dashboard</a>
            <a class="nav-link" href="/paintings">Products </a>
            <a class="nav-link" href="/paintings/new"> AddProduct </a>
        </div>
        <div class="navbar-nav" style="float:right;text-align:right;" >
           
              <a class="nav-link"  href="/login"> Login</a>
              
              <a class="nav-link"  href="/logout">Logout</a>
    <a class="nav-link" onclick="func(this)" href="/register"> Register</a>
            
        </div>
    </div>
</div>
  </nav> -->
  <nav class="navbar bg-dark navbar sticky-top navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ArtStudioss</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active"  href="/paintings/home" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="/dashboard"> dashboard</a>
          <a class="nav-link" href="/paintings">Products </a>
          <a class="nav-link" href="/paintings/new"> AddProduct </a>
           <div class="navbar-nav" style="float:right;text-align:right;" >
           <a class="nav-link"  href="/login"> Login</a> 
            <a class="nav-link"  href="/logout">Logout</a>
  <a class="nav-link" href="/register"> Register</a>
          
      
          
        </div>
        </div>
      </div>
    </div>
  </nav>
  <style>
    .navbar-nav{
      align-items: right;
      align-content: right;
      align-self: right;
    }
    </style>
 