<% layout('layouts/boilerplate') %>
<div class="card">
    <div class="card-body">username=<%=user.username %></div>
    <div class="card-body">email id= <%=user.email %></div>
    <div class="card-body">address=<%=user.address %></div>
</div>