<% layout('layouts/boilerplate') %>
<!-- <img src="https://res.cloudinary.com/dfibrqhtl/image/upload/v1693056478/artists-brushes-paint_uomfup.webp" style="height:800px;width:1200px;justify-content: center;"  alt=""> -->
<h3 style="color:bisque;">Welcome Home</h3>
<form action="/paintings" style="align-items:center;">
    <!-- <img src="https://res.cloudinary.com/dfibrqhtl/image/upload/v1693056478/artists-brushes-paint_uomfup.webp" alt="" style="background-size: cover;"> -->
    
    <center style="color:bisque; font-size: larger;">
       " Where Art Finds Its Home: Discover, Collect, and Connect"
    </center><div height="500">

<button  > click here</button>
</div>
</form>
 <style>
body{
    background-image: url("https://res.cloudinary.com/dfibrqhtl/image/upload/v1693384781/Paintings/download_krmu1h.jpg");
    background-size:cover;
   
}
    button{
        text-align:center ;background-color: beige;
        position: absolute;
  top: 50%;
  
  left: 50%;
  
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

    }
    h3{ 
        text-align:center;
    }

</style>


